@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
}

.prose {
    font-size: 18px;
    line-height: 37px;
    max-width: 1070px;
}

.prose p {
    line-height: 37px;
}

.prose a {
    color: #b69670;
    border-bottom: 1px solid #cfcfcf;
}

.prose p,
.prose strong {
    line-height: 37px;
    margin-bottom: 26px;
}

.prose img,
.prose iframe {
    width: 100%;
}

.prose iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wp-block-embed__wrapper {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    height: auto;
}

.header-fixed {
    width: 100%;
    position: fixed;
}


.is-sticky {
    transform: translateY(-120%);
    top: 0;
    background: #191919;
    -webkit-box-shadow: 0 0 5px 2px rgba(51, 51, 51, 0.3);
    box-shadow: 0 0 5px 2px rgba(51, 51, 51, 0.3);
}

.sticky-show {
    transform: translateY(0);
}
